/*! this is the main copyright of a thing
  * it has a url like example.com
  * and contact me at @ded
  */
body, p[rel="stuff and things"] {
  color: red;
  font: 100 2/300px helvetica neue, helvetica;
  background: orange;
}