[submodule "lib/support/UglifyJS"]
	path = lib/support/UglifyJS
	url = https://github.com/mishoo/UglifyJS
[submodule "lib/support/colors"]
	path = lib/support/colors
	url = https://github.com/Marak/colors.js.git
[submodule "lib/support/rimraf"]
	path = lib/support/rimraf
	url = https://github.com/isaacs/rimraf.git
[submodule "lib/support/jshint"]
	path = lib/support/jshint
	url = https://github.com/jshint/jshint.git
[submodule "lib/support/gzip"]
	path = lib/support/gzip
	url = https://github.com/donnerjack13589/node.gzip.git
[submodule "lib/support/asciimo"]
	path = lib/support/asciimo
	url = https://github.com/Marak/asciimo.git
